
@{
    ViewData["Title"] = "Borrar jornadas";
}


<h1 class="text-danger">@ViewData["mensaje"]</h1>
<a class="btn btn-secondary mt-2" asp-controller="Competiciones" asp-action="CompeticionesIndex" asp-route-id='@ViewData["idUsuario"]'>Volver</a>