@model WebCalendar.Models.Competiciones

@{
    ViewData["Title"] = "Borrar competición";
}

<h1 class="text-center">Borrar competición</h1>
<br />
<div class="row">
    <div class="offset-12">
        <div class="card border">
            <div class="card-header bg-dark">
                <h3 class="text-white" width="100%"><strong>Competición</strong></h3>
            </div>
            <div class="card-body">
                <form asp-action="CompeticionesBorrar">
                    <div class="form-group">
                        <label asp-for="NombreCompeticion" class="control-label"></label>
                        <input asp-for="NombreCompeticion" class="form-control" readonly />
                    </div>
                    <div class="form-group">
                        <label asp-for="Jor_Rep_Enfrentamiento" class="control-label"></label>
                        <input asp-for="Jor_Rep_Enfrentamiento" class="form-control" readonly />
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Alternar_Local_Vuelta" disabled /> @Html.DisplayNameFor(model => model.Alternar_Local_Vuelta)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label asp-for="Num_Jor_Loc" class="control-label"></label>
                        <input asp-for="Num_Jor_Loc" class="form-control" disabled />
                    </div>
                    <div class="form-group visually-hidden">
                        <label asp-for="ID_Usuario" class="control-label"></label>
                        <select asp-for="ID_Usuario" class="form-control" asp-items="@ViewBag.ID_Usuario"></select>
                    </div>

                    <div class="form-group mt-3 text-center">
                        <button type="submit" class="btn btn-danger d-inline-block mx-auto"><i class="bi bi-eraser-fill">Borrar</i></button>
                        <a class="btn btn-secondary" asp-action="CompeticionesIndex">Volver</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>