@model WebCalendar.Models.Restricciones

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center">Crear una restricción</h1>

<div class="row">
    <div class="offset-12">
        <div class="card border">
            <div class="card-header bg-dark">
                <h3 class="text-white" width="100%"><strong>Datos del equipo</strong></h3>
            </div>
            <div class="card-body">
                <form asp-action="RestriccionesCrear" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="ID_Tipo_Restriccion" class="control-label"></label>
                        <select asp-for="ID_Tipo_Restriccion" class="form-control" asp-items="ViewBag.ID_Tipo_Restriccion"></select>
                    </div>
                    <div class="form-group visually-hidden">
                        <label asp-for="ID_Competicion" class="control-label"></label>
                        <select asp-for="ID_Competicion" class="form-control" asp-items="ViewBag.ID_Competicion"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="ID_Jornada" class="control-label"></label>
                        <select asp-for="ID_Jornada" class="form-control" asp-items="ViewBag.ID_Jornada"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="ID_Equipo" class="control-label"></label>
                        <select asp-for="ID_Equipo" class="form-control" asp-items="ViewBag.ID_Equipo"></select>
                    </div>
                    <div class="form-group visually-hidden">
                        <label asp-for="ID_EquipoRival" class="control-label"></label>
                        <select asp-for="ID_EquipoRival" class="form-control" asp-items="ViewBag.ID_EquipoRival"></select>
                    </div>
                    <div class="form-group mt-3 text-center">
                        <button type="submit" class="btn btn-primary d-inline-block mx-auto"><i class="bi bi-save"> Crear</i></button>
                        <a class="btn btn-secondary" asp-controller="Restricciones" asp-action="RestriccionesIndex" asp-route-id='@ViewData["idCompeticion"]'>Volver</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#ID_Tipo_Restriccion').change(function () {
            if ($('#ID_Tipo_Restriccion').val() == 1 || $('#ID_Tipo_Restriccion').val() == 2) {
                $('#ID_EquipoRival').parent().addClass('visually-hidden');
            }
            else {
                $('#ID_EquipoRival').parent().removeClass('visually-hidden');
            }
        });
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


